{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block body %}
 <div class=" produit_header container text-center">
        <h1>Plongez dans l'univers Zen & Aroma</h1>
        <h2>Une sélection de produits naturels pour prendre soin de vous</h2>
    </div>


    <section class="container text-center ">
        <div class="row">


        {% for product in products %}
            <div class="col-md-4">
                <div class="card text-center mb-3 card_produits">
                    <div class="card-body">
                        <img class="img_offres img-fluid photo_prod" src="{{ vich_uploader_asset(product) }}" alt="{{ product.name }}">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <p class="card-text">À partir de {{ product.price }}€</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


        

    </section>
{% endblock %}
