{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1 class="text-center">Formulaire de contact</h1>


    {{ include('contact/_form.html.twig') }}


{% endblock %}

